.aside {
    display: none;
    width: 200px;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4)
}

.openAside {
    display: block;
    width: 200px;
    height: calc(100% - 60px);
    background-color: rgba($color: #000000, $alpha: 0.4)
}

