.table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.border {
    border: 2px solid black;
    padding: 15px;
   
}
tr:hover {
    background-color: gray;
}
.pointer {
    cursor: pointer;
}